In [25]:
import pandas as pd

# StratifiedShuffleSplit for chennai 0.9491

xx = "xx"
table = pd.DataFrame.from_dict({
#  0: ["Jakarta 2017", "Aws,Bow", .73],
  0: ["Jakarta 2017", "Aws,Bow,Bow,Flood", .74],
#  5: ["Chennai 2017", "Aws,Bow", .74],
  5: ["Chennai 2017", "Google,Aws,Bow,Flood", .80], # 0.8067484662576687
 }, orient="index", columns=["dataset","Learners", "Random 10 fold stratified cross validation"]).rename_axis("trial")

s = table.to_latex(index=False)
print(s)

\begin{tabular}{llr}
\toprule
      dataset &              Learners &  Random 10 fold stratified cross validation \\
 Jakarta 2017 &     Aws,Bow,Bow,Flood &                                        0.74 \\
\midrule
 Chennai 2017 &  Google,Aws,Bow,Flood &                                        0.80 \\
\bottomrule
\end{tabular}

In [17]:
\tex
\begin{tabular}{lllr}
\toprule
      dataset &       Learners & mean 5 fold cross validation acc. &  10\% held out set \\
 Jakarta 2017 &  Aws,Bow,Flood &                                xx &             0.760 \\
\midrule
 Jakarta 2017 &        Bigrams &                                xx &             0.700 \\
 Chennai 2017 &            BOW &                                xx &             0.800 \\
 Chennai 2017 &        Bigrams &                                xx &             0.801 \\
\bottomrule
\end{tabular}

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 9)

In [ ]:
# more complete 
import pandas as pd

xx = "xx"
table = pd.DataFrame.from_dict({
  0: ["Jakarta 2017", "Aws,Bow,Flood", .76],
  1: ["Jakarta 2017", "Aws,Bow", .825],
  2: ["Jakarta 2017", "Aws,Bow", .8375],
    
  3: ["Chennai 2017", "Aws,Bow,Flood", .73],
  5: ["Chennai 2017", "Google,Aws,Bow,Flood", .83],
  6: ["Chennai 2017", "Aws,Bow", .78]
 }, orient="index", columns=["dataset","Learners", "10% held out set"]).rename_axis("trial")

s = table.to_latex(index=False)
print(s)